{% extends 'base.html.twig' %}

{% block body_id 'login' %}

{% block body %}
    <div class="row">
        <div id="main" class="col-sm">
            {{ include('default/_flash_messages.html.twig') }}

            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <div class="jumbotron">
                        <button class="btn btn-primary btn-block" style="font-size: 1.5rem">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> Sign in with VTK account
                            {#                            {{ 'action.sign_in'|trans }} #}
                        </button>
                    </div>
                </div>
            </div>

            {#
            This references the Stimulus controller defined in
            "assets/controllers/login-controller.js".
            See https://symfony.com/doc/current/frontend/encore/simple-example.html#stimulus-symfony-ux
            More info on Symfony UX https://ux.symfony.com
            #}
            <div class="row justify-content-center" {{ stimulus_controller('login') }}{# @see assets/controllers/login-controller.js #}>
                <div class="col-sm-6">
                    <div class="jumbotron">
                        <form action="{{ path('security_login') }}" method="post">
                            <fieldset>
                                <legend><i class="fa fa-lock" aria-hidden="true"></i> {{ 'title.login'|trans }}</legend>
                                <div class="form-group">
                                    <label for="username">{{ 'label.username'|trans }}</label>
                                    <input type="text" id="username" name="_username" value="{{ last_username }}"
                                           class="form-control" {{ stimulus_target('login', 'username') }} />
                                </div>

                                <div class="form-group form-group-password">
                                    <label for="password">{{ 'label.password'|trans }}</label>
                                    <input type="password" id="password" name="_password"
                                           class="form-control" {{ stimulus_target('login', 'password') }} />
                                    <button class="btn btn-primary pull-right"
                                            type="button" {{ stimulus_action('login', 'togglePasswordInputType') }}><i
                                                class="fa fa-eye"></i></button>
                                </div>

                                <div class="form-group">
                                    <label>
                                        <input type="checkbox" name="_remember_me" checked/>
                                        Keep me logged in
                                    </label>
                                </div>
                                <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'action.sign_in'|trans }}
                                </button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}